IPInfo/Configuration/App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="configSections">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sectionGroup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="section">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="IPInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="providers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="provider">
                      <xs:complexType>
                        <xs:attribute name="providerClass" type="xs:string" use="required" />
                        <xs:attribute name="priority" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="providerName" type="xs:string" use="required" />
                        <xs:attribute name="serviceUrl" type="xs:string" use="required" />
                        <xs:attribute name="supportedFormats" type="xs:string" use="required" />
                        <xs:attribute name="xmlRootElementName" type="xs:string" use="optional" />
                        <xs:attribute name="parseErrorResponses" type="xs:boolean" use="required" />
                        <xs:attribute name="timeout" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="apiKey" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>